<div id="main" v-if="Store.isLoad" @click="Store.user.isLogged && !Store.isGameOver && startGame()">
    <div id="top" class="line">
        <img src="/assets/img2/logo_fb.png">
        <img class="getReady" src="/assets/img2/get_ready.png"
             v-if="!Store.isGameOver && Store.user.deposit >= Store.config.bet && !Store.isGame">
        <img class="getReady" src="/assets/img2/game_over.png"
             v-if="Store.isGameOver">
    </div>
    <canvas id="flappy" width="500" height="512"></canvas>
    <div id="content">
        <span v-if="Store.user.isLogged">
            <h1>Game {{Store.user.login}} <span class="txt-red" @click="Store.defaultUser()"><i class="fa fa-sign-out" aria-hidden="true"></i></span></h1>
        </span>
        <login v-else></login>
    </div>
    <modal></modal>
    <notifications group="foo" />
</div>
