<div id="main" v-if="Store.isLoad">
    <div id="topline">
        <h1>Poker Artifacts</h1>
    </div>
    <div id="content">
        <div id="gameBlock" class="bg" v-if="Store.user.isLogged">
            <h3 @click="Store.logOut">Exit {{Store.user.login}}
                Balance: {{Store.user.balance}}
                Status: {{Store.room.game.status}}
            </h3>
            <game-table></game-table>
            <user-panel></user-panel>
            <div class="bottom-line">
                <log></log>
                <chat></chat>
            </div>
        </div>
        <login v-else></login>
    </div>
    <modal></modal>
    <notifications group="foo" />
</div>