<div id="main">
    <h1>Saper!</h1>

    <div v-if="Store.user.isLoged">
        <top-bar></top-bar>
        <div class="but but_play" :class="!Store.isGame ? 'hovered bg-green' : 'no-events bg-yellow'"
            @click="startGame">
            <span v-if="!Store.isGame">Go</span>
            <span v-else>Play Bet</span>
            {{Store.topbar.bet}}!</div>
        <div id="game-line">
            <field-game></field-game>
        </div>
    </div>
    <div v-else>
        <login></login>
    </div>
    <notifications group="foo" />
</div>