<div id="topbar">
    <div class="deposit-block">
        <div class="txt-yellow deposit-count">Deposit {{Store.user.deposit}} <small>ARTS</small></div>
        <div class="but bg-grey w100 hovered bg" @click="addDeposit">Add deposit</div>
    </div>

    <div class="buttons-rate" @click="sound" :class="{'no-events' : Store.game.isGame}">
        <div v-for="r in buttonsRate" @click="changeRate(r)"
            class="but hovered bg"
            :class="{'bg-red':r.val < 0, 'bg-green': r.val > 0}">
            {{r.text}}
        </div>
    </div>

    <div class="bet_count">
        <span class="txt-yellow bet_value"><span class="topbar-label">Bet:</span> <input type="number" v-model.number="store.bet":class="className"></span>
        <div class="buttons-count" :class="{'no-events' : Store.game.isGame}">
            <div v-for="c in buttonsCountBombs" @click="store.countBombs = c; sound()"
                :class="{activeCount: store.countBombs === c}"
                class="but hovered bg-blue m1 bg">
                <i class="fa fa-bomb" aria-hidden="true" style="color: black;"></i>
                {{c}}
            </div>
        </div>
    </div>
</div>
